.header-bg{
    background-image: url(./images/Expertise-header-bg.jpg);
    width: 100%;
    min-height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* header sarlavhalar */
.line{
    width: 240px;
    height: 3px;
    background-color: #1278b9;
}